@page
@model RPG.Pages.LocationModel
@using RPG.Model
@{
    ViewData["Title"] = "Location";
}

    <div class="text-center">
        <h1 class="display-4">@Model.location.Name</h1>
        <p>@Model.location.Description</p>

        <hr />
        @if (Model.location.Paths == null)
        {
            <p><a asp-page="/index">Začít znova</a></p>
        }
        else
        {
            foreach (var path in Model.location.Paths)
            {
                <p><a asp-page="/location" asp-route-path="@path.NextLocationId">@path.Description</a></p>
            }
        }

        <hr />
        <h2>Tvé statistiky:</h2>
        <p>Jídlo: @Model.Stats.Food%</p>
        <p>Energie: @Model.Stats.Energy%</p>

    </div>



