@page
@model RPG.Pages.LocationModel
@using RPG.Model
@{
    ViewData["Title"] = "Location";
}

    <div class="text-center">
        @if (Model.location.Achievement != null)
        {
            <p>Získán nový úspěch - @Model.location.Achievement.Name (@Model.location.Achievement.Description)</p>
            <hr />
        }



        <h1 class="display-4">@Model.location.Name</h1>
        <p>@Model.location.Description</p>

        <hr />

        @foreach (var path in Model.location.Paths)
        {
            <p><a asp-page="/location" asp-route-path="@path.NextLocationId">@path.Description</a></p>
        }

        @if (Model.location.CanSearchFood)
        {
            <p><a asp-page="/location" asp-page-handler="SearchFood">Hledat jídlo</a></p>
        }
        @if (Model.location.CanSleep)
        {
            <p><a asp-page="/location" asp-page-handler="Sleep">Vyspat se</a></p>
        }

        <hr />

        @if (Model.location.ShowStats)
        {
            <h2>Tvé statistiky:</h2>
            <p>Jídlo: @Model.Stats.Food%</p>
            <p>Energie: @Model.Stats.Energy%</p>
        }

    </div>



