@page
@model RPG.Pages.LocationModel
@using RPG.Model
@{
    ViewData["Title"] = "Turotial";
}

<h1>Tutorial</h1>

<div class="text-center">
    <h1 class="display-4">@Model.location.Name</h1>
    <p>@Model.location.Description</p>

    <hr />
        @foreach (var path in Model.location.Paths)
        {
            <p><a asp-page="/location" asp-route-path="@path.NextLocationId">@path.Description</a></p>
        }

    <hr />
    <h2>Tvé statistiky:</h2>
    <p>Jídlo: @Model.Stats.Food%</p>
    <p>Energie: @Model.Stats.Energy%</p>

</div>





<div class="text-left">
    <p><a asp-page="/location">Začít hru</a></p>
</div>